<%- include('../includes/header.ejs') %>
<body>
<!-- Navabar  start-->
<%- include('../includes/navigation.ejs') %>
<!-- Navabar  end-->

<!-- main body starts-->
<div class="container-fluid" style="background-color:whitesmoke;">
    <div class="row row-cols-1 row-cols-lg-3 pb-3">
        <!-- Filter Start -->
        <div class="col col-lg-3 order-3 order-lg-1 order-xl-1 order-md-3 ">
            <!-- Card 1 starts -->
            <div class="card my-3">
                <div class="card-header">
                  Filters
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Veg
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Non Veg
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Vegan
                        </label>
                      </div>
                  </li>
                </ul>
            </div>
              <!-- Card 1 ends -->

              <!-- Card 2 starts -->
            <div class="card my-3">
                <div class="card-header">
                  Sort By
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Popularity - High to Low
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Rating - High to Low
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Cost - High to Low
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Cost - Low to High
                        </label>
                      </div>
                  </li>
                </ul>
              </div>
              <!-- Card 2 ends -->


              <!-- Card 3 starts -->
            <div class="card my-3">
                <div class="card-header">
                  Location
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Damanjodi
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Damanjodi 2
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Damanjodi 3
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Damanjodi 4
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Damanjodi 5
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Damanjodi 6
                        </label>
                      </div>
                  </li>
                </ul>
              </div>
              <!-- Card 3 ends -->

              <!-- Card 4 starts -->
              <div class="card my-3">
                <div class="card-header">
                   Cuisine
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          North Indian
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Gujarati
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Odiya
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Punjabi
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Sweet Dish
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          South Indian
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Afgani
                        </label>
                      </div>
                  </li>
                </ul>
              </div>
              <!-- Card 4 ends -->

              <!-- Card 5 starts -->
              <div class="card my-3">
                <div class="card-header">
                    Cost Per Plate
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          100-200
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          200-400
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          400-600
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          600-1000
                        </label>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          1000+
                        </label>
                      </div>
                  </li>
                </ul>
              </div>
              <!-- Card 5 ends -->

        </div>
        <!-- Filter Ends -->

        <!-- Food Package Start -->
        
        <div class="col col-lg-5 order-2 order-lg-1 order-xl-1 order-md-1" style="margin-top: 1rem;">
            <% 
              if(catererCuisineData.length > 0){ 
                  for( meal of catererCuisineData) {
            %>
            <div class="row row-cols-2 row-cols-md-2 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="/image/<%= meal.pic_url %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= meal.cuisine_name %></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-body my-2 text-center d-flex justify-content-center">
                      <a href="/user/meal?catererId=<%= catererId %>&cuisineId=<%= meal.cuisine_id  %>" class="card-link btn btn-primary" style="font-size:80% ;">Meal</a>
                      <a href="/user/profile/<%= catererId %>" class="card-link btn btn-primary" style="font-size:80% ;">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <%    }
              }else{ %>
              <div class="card" style="width: 18rem;margin-top: 1rem;" >
                <img src="/image/image2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">No Caterer Available</p>
                </div>
              </div>
            <% } %>
             
              <!-- pagination starts-->
              <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 my-1">
                <div class="col col-lg-3 col-md-3 col-3">
                  <div class="py-2 ">
                          Page 1 of 50
                  </div>
                </div>
                <div class="col col-lg-9 col-md-9 col-sm-9">
                  <div class="py-2  ">
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">
                              2
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <!-- <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li> -->
                          <li class="page-item">
                            <a class="page-link" href="#">&raquo;  </a>
                          </li>
                        </ul>
                      </nav>
                  </div>
                </div>
              </div>  
              <!-- pagination ends-->
        </div>
        <!-- Food Package End -->

        <!--Ads and Promos start -->
        <div class="col col-lg-4 order-2 order-lg-3 order-xl-1 order-md-2 ">
            <div class="card bg-light text-black my-3">
                <img src="/image/image1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title text-right" style="padding-top: 40%;">Advertisement</h5>
                  <p class="card-text text-right">Taste the unthinkable</p>
                </div>
            </div>
            <div class="card bg-light text-black my-3">
                <img src="/image/image1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title text-right" style="padding-top: 40%;">Advertisement</h5>
                  <p class="card-text text-right">Taste the unthinkable</p>
                </div>
            </div>
            <div class="card bg-light text-black my-3">
                <img src="/image/image1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title text-right" style="padding-top: 40%;">Advertisement</h5>
                  <p class="card-text text-right">Taste the unthinkable</p>
                </div>
            </div>
            <div class="card bg-light text-black my-3">
                <img src="/image/image1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title text-right" style="padding-top: 40%;">Advertisement</h5>
                  <p class="card-text text-right">Taste the unthinkable</p>
                </div>
            </div>
        </div>   
        <!--Ads and Promos end -->
      </div>
</div>
<!-- main body ends -->


<!-- Footer Start -->
<%- include('../includes/footer.ejs') %>
<!-- Footer End -->

